"******** Now your result ********"

<h2>Your word: <%= @guess.join %></h2>
<h2>Time Taken to answer: <%= distance_of_time_in_words @start_time, @end_time %></h2>
<h2>Your score: <%= @score %></h2>
<h2>Message: <%= @message %></h2>
